.about-hero {
  text-align: center;
  padding: 20px 10px 20px;
  background: #ffffff;
}

/* HEADING */
.about-hero h1 {
  font-size: 2.8rem;
  color: #ef5f34;
  font-weight: 700;
  margin: 0;
}

/* UNDERLINE */
.underline {
  width: 80px;
  height: 4px;
  background: #09112e;
  margin: 5px auto 10px;
  border-radius: 2px;
}

/* SUBTITLE */
.hero-subtitle {
  color: #555;
  font-size: 1rem;
  max-width: 500px;
  margin: auto;
  line-height: 1.6;
}