.about-story {
  padding: 10px 10px;
  text-align: center;
  background: #ffffff;
}

/* TITLE */
.about-story h2 {
  font-size: 2.2rem;
  color: #ef5f34;
  font-weight: 700;
  margin: 0;
}

/* UNDERLINE */
.underline {
  width: 80px;
  height: 4px;
  background: #09112e;
  margin: 10px auto 30px;
  border-radius: 2px;
}

/* CARD */
.story-card {
  max-width: 650px;
  margin: auto;
  background: #fff;
  padding: 35px;
  border-radius: 18px;
  border-left: 6px solid #ef5f34;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

/* TEXT */
.story-card p {
  color: #555;
  line-height: 1.8;
  font-size: 1rem;
}