.impact-section {
  padding: 10px 50px;
  text-align: center;
  background: #ffffff;
}

/* TITLE */
.impact-section h2 {
  color: #ef5f34;
  font-size: 2rem;
  margin: 0;
}

/* UNDERLINE */
.heading-underline {
  width: 72px;
  height: 4px;
  background: #09112e;
  margin: 12px auto 0;
  border-radius: 2px;
}

/* GRID */
.stats-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: 900px;
  margin: auto;
}

/* CARD */
.stat-card {
  background: #f8fafc;
  padding: 25px 15px;
  border-radius: 12px;
  transition: 0.3s ease;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
  border: 1px solid #ef5f34
}

/* NUMBER */
.stat-card h3 {
  font-size: 1.8rem;
  color: #ef5f34;
  margin-bottom: 5px;
}

/* LABEL */
.stat-card p {
  font-size: 0.9rem;
  color: #555;
}

/* HOVER */
.stat-card:hover {
  transform: translateY(-5px);
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .stats-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .stats-grid {
    grid-template-columns: 1fr;
  }
}